<li id="article_<%= article.id %>">
  <% children = article.children %>
  <% if children.length > 0 %>
    <a href="javascript:void(0)" onclick="showChildren(<%= article.id %>)">
      <span>
        <i id="icon_<%= article.id %>" class="icon-plus"></i><%= article.content %>
      </span>
    </a>
  <% else %>
    <span>
      <%= article.content %>
    </span>
  <% end %>
</li>