<li id="article_<%= article.id %>">
  <% children = article.children %>
  <% if children.length > 0 %>
    <a href="javascript:void(0)" onclick="showChildren(<%= article.id %>)">
      <i id="icon_<%= article.id %>" class="icon-<%= params[:action] != 'show' ? 'minus': 'plus' %>"></i>
    </a>
    <%= render 'click_edit_form', _article: article %>
    <%= render 'menu', _article: article %>
    <% if params[:action] != 'show' %>
      <ul class="tree" id="a_children_<%= article.id %>">
        <%= render children %>
      </ul>
    <% end %>
  <% else %>
    <span>
      <%= render 'click_edit_form', _article: article %>
      <%= render 'menu', _article: article %>
    </span>
  <% end %>
</li>