<li id="article_<%= article.id %>">
  <% children = article.children %>
  <% if children.length > 0 %>
    <a href="javascript:void(0)" onclick="showChildren(<%= article.id %>)">
      <span>
        <i id="icon_<%= article.id %>" class="icon-<%= params[:action] == 'all' ? 'minus': 'plus' %>"></i><%= article.content %>
      </span>
    </a>
    <%= render 'menu', _article: article %>
    <% if params[:action] == 'all' %>
      <ul class="tree" id="a_children_<%= article.id %>">
        <%= render children %>
      </ul>
    <% end %>
  <% else %>
    <span>
      <%= article.content %>
      <%= render 'menu', _article: article %>
    </span>
  <% end %>
</li>