<p id="notice"><%= notice %></p>
<style>
  li {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 0 5px;
    position: relative;
  }
  li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
  }
  li::before, li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
  }
  li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 16px;
    width: 25px;
  }
</style>
<%= @article.content %>
<% if @article.children.length > 0 %>
  <ul>
    <%= render @article.children %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
