<div class="tree">
  <%= render 'click_edit_form', _article: @article %>
  <%= render 'menu', _article: @article %>
  <% children = @article.children.order('priority ASC') %>
  <% if children.length > 0 %>
    <ul class="tree">
      <%= render children %>
    </ul>
  <% end %>
</div>
<br />
<% if params[:action] == 'all' %>
  <%= link_to 'Collapse All', @article %>
<% else %>
  <%= link_to 'Expand All', all_article_path(@article) %>
<% end %>
<br /><br />
<%= link_to '首頁', articles_path %>
